<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <header><%= title %></header>
    <p><strong>User:</strong> <%= message.user %></p>
    <p><strong>Message:</strong> <%= message.text %></p>
    <p><strong>Added on:</strong> <%= message.added.toDateString() %></p>
    <footer><a href="/">Back to Home</a></footer>
  </div>
</body>
</html>
